<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>903919404222-822fn420qt4beg9jjv58m2itpl47qqdg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.903919404222-822fn420qt4beg9jjv58m2itpl47qqdg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>903919404222-45hgpo2kjh84942g00vs6aq67kgh5sab.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAjsO6g2VBFzZ_OxT9scYAut8Oe9vM18K8</string>
	<key>GCM_SENDER_ID</key>
	<string>903919404222</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.weclaraline.Weclaraline</string>
	<key>PROJECT_ID</key>
	<string>crwn-db-21372</string>
	<key>STORAGE_BUCKET</key>
	<string>crwn-db-21372.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:903919404222:ios:09397f1e0fa0f30d7a4aef</string>
	<key>DATABASE_URL</key>
	<string>https://crwn-db-21372.firebaseio.com</string>
</dict>
</plist>